@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Hesap Kilitli";
}

<hgroup>
    <h1 class="text-danger">Hesap Kilitli</h1>
    <h2 class="text-danger">Hesabınız kilitlidir, daha sonra deneyiniz...</h2>
</hgroup>
