@{
    ViewBag.Title = "İletişim";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Tuzla<br />        
    Ocak 2021
</address>

<address>
    <strong>Destek:</strong>   <a href="https://github.com/tbagriyanik/ornekMVC2021">Github - Kaynak Kodları</a><br />
    <strong>Site:</strong> <a href="http://yunus.sourceforge.net">yunus.sourceforge.net</a>
</address>