@{
    ViewBag.Title = "Ana Sayfa";
}

<div class="jumbotron">
    <h1>ASP.NET - MVC</h1>
    <p class="lead">Üyelik ve Ürün Listeleme Örneğimiz</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Ürünler 1</h2>
        <p>
            ASP.NET MVC 2021.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ürünler 2</h2>
        <p>
            ASP.NET MVC 2021.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Ürünler 3</h2>
        <p>
            ASP.NET MVC 2021.
        </p>
    </div>
</div>
